<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
   
</head>
<body>

<header>
    <a class="nav-link" th:href="@{/logout}" role="button"><input type="button" value="Logout"></a>
</header>

<h2>Logged as: </h2>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>UserName</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${currentUser.getId()}"></td>
        <td th:text="${currentUser.getFirstName()}"></td>
        <td th:text="${currentUser.getLastName()}"></td>
        <td th:text="${currentUser.getUsername()}"></td>
        <td><span th:each="role : ${currentUser.getRoles()}"
                  th:text="${#strings.replace(role.getName(), 'ROLE_', ' ')}"></span></td>
    </tr>
    </tbody>
</table>

</body>
</html>
